<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/1e8988dde9.js" crossorigin="anonymous"></script>
       
    <link rel="stylesheet" href="/static/Experiment.css">
  <script src="/static/Experiment.js"></script>
  
</head>
<body>

    
    <div id="sectionDeserts">

        <div class="container">
            <div class="row">

                <div class="col-12 col-md-6 col-lg-3">
                    <div class="shadow menu-item-card p-3 mb-3">
                        <img src="/static/images/menu/desserts and icream/Deserts/gajar-halwa.jpg" class="menu-item-image w-100" alt="Gym Food" />
                        <h1 class="menu-card-title">Gajar Halwa</h1>
                        <p class="Dish-Price">Rs.250 </p>
                        <a href="" class="menu-item-link">
                            Order Now
                        </a>
                          <div class="icon-conatiner">
                                   <button class="btn add-to-cart-icon mr-auto">
                                       <i class="fas fa-shopping-bag custom_icon"></i>
                               </button>
                              </div>

                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-3">
                    <div class="shadow menu-item-card p-3 mb-3">
                        <img src="/static/images/menu/desserts and icream/Deserts/kheer.jpg" class="menu-item-image w-100" alt="Gym Food" />
                        <h1 class="menu-card-title">Cow milk Kheer</h1>
                        <p class="Dish-Price">Rs.160 </p>
                        <a href="" class="menu-item-link">
                            Order Now
                        </a>
                          <div class="icon-conatiner">
                                   <button class="btn add-to-cart-icon mr-auto">
                                       <i class="fas fa-shopping-bag custom_icon"></i>
                               </button>
                              </div>

                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-3">
                    <div class="shadow menu-item-card p-3 mb-3">
                        <img src="/static/images/menu/desserts and icream/Deserts/dryfruit-barfi.jpg" class="menu-item-image w-100" alt="Gym Food" />
                        <h1 class="menu-card-title">Dryfruit Barfi </h1>
                        <p class="Dish-Price">Rs.190 </p>
                        <a href="" class="menu-item-link">
                            Order Now
                        </a>
                          <div class="icon-conatiner">
                                   <button class="btn add-to-cart-icon mr-auto">
                                       <i class="fas fa-shopping-bag custom_icon"></i>
                               </button>
                              </div>

                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-3">
                    <div class="shadow menu-item-card p-3 mb-3">
                        <img src="/static/images/menu/desserts and icream/Deserts/gulab-jamun.jpg" class="menu-item-image w-100" alt="Gym Food" />
                        <h1 class="menu-card-title">Gulab Jamum </h1>
                        <p class="Dish-Price">Rs.90 </p>
                        <a href="" class="menu-item-link">
                            Order Now
                        </a>
                          <div class="icon-conatiner">
                                   <button class="btn add-to-cart-icon mr-auto">
                                       <i class="fas fa-shopping-bag custom_icon"></i>
                               </button>
                              </div>

                    </div>
                </div>


            </div>
        </div>

          <div class=" d-flex flex-row justify-content-center align-items-end mb-3 ">
                    <a href="Dessert-Icream.html"> <button class="back-button btn btn-primary mr-2 ">Back</button></a>
                    <a href="/templates/home.html"> <button class="back-button btn btn-primary">Go to Home</button></a>
        </div>



    </div>



</body>
</html>