<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <script src="https://kit.fontawesome.com/1e8988dde9.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/Experiment.css">
    <script src="/static/Experiment.js"></script>
</head>
<body>
    <div id="sectionGymFood">
        <div class="Gym-Food-Container">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="shadow menu-item-card p-3 mb-3">
                            <img src="/static/images/menu/gym/gym-food.jpg" class="menu-item-image w-100" alt="Gym Food" />
                            <h1 class="menu-card-title">Protein Bowl</h1>
                            <p class="Dish-Price">Rs.200 </p>
                            <div class="rating">
                                <span class="stars">
                                    <i class="fas fa-star text-warning"></i>
                                    <i class="fas fa-star text-warning"></i>
                                    <i class="fas fa-star text-warning"></i>
                                    <i class="fas fa-star-half-alt text-warning"></i>
                                    <i class="far fa-star text-warning"></i>
                                </span>
                                <span class="rating-text">(3.5)</span>
                            </div>
                            <a href="" class="menu-item-link">Order Now</a>
                            <button class="btn add-to-cart-icon">
                                <i class="fas fa-shopping-bag custom_icon"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="shadow menu-item-card p-3 mb-3">
                            <img src="/static/images/menu/gym/shakes and smoothies/Shakes-smoothies.jpg" class="menu-item-image w-100" alt="Shakes & Smoothies" />
                            <h1 class="menu-card-title">Shakes & Smoothies</h1>
                            <p class="Dish-Price">Rs.150 </p>
                            <div class="rating">
                                <span class="stars">
                                    <i class="fas fa-star text-warning"></i>
                                    <i class="fas fa-star text-warning"></i>
                                    <i class="fas fa-star text-warning"></i>
                                    <i class="far fa-star text-warning"></i>
                                    <i class="far fa-star text-warning"></i>
                                </span>
                                <span class="rating-text">(3.0)</span>
                            </div>
                            <a href="" class="menu-item-link">Order Now</a>
                            <button class="btn add-to-cart-icon">
                                <i class="fas fa-shopping-bag custom_icon"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="shadow menu-item-card p-3 mb-3">
                            <img src="/static/images/menu/gym/High Protein/High-Protein-Dishesh.jpg" class="menu-item-image w-100" alt="High Protein Dishes" />
                            <h1 class="menu-card-title">High Protein Dishes</h1>
                            <p class="Dish-Price">Rs.250 </p>
                            <div class="rating">
                                <span class="stars">
                                    <i class="fas fa-star text-warning"></i>
                                    <i class="fas fa-star text-warning"></i>
                                    <i class="fas fa-star text-warning"></i>
                                    <i class="fas fa-star text-warning"></i>
                                    <i class="far fa-star text-warning"></i>
                                </span>
                                <span class="rating-text">(4.0)</span>
                            </div>
                            <a href="" class="menu-item-link">Order Now</a>
                            <button class="btn add-to-cart-icon">
                                <i class="fas fa-shopping-bag custom_icon"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="shadow menu-item-card p-3 mb-3">
                            <img src="/static/images/menu/gym/Detox drinks/Detox-Drinks.jpg" class="menu-item-image w-100" alt="Detox Drinks" />
                            <h1 class="menu-card-title">Detox Drinks</h1>
                            <p class="Dish-Price">Rs.120 </p>
                            <div class="rating">
                                <span class="stars">
                                    <i class="fas fa-star text-warning"></i>
                                    <i class="fas fa-star text-warning"></i>
                                    <i class="fas fa-star text-warning"></i>
                                    <i class="fas fa-star-half-alt text-warning"></i>
                                    <i class="far fa-star text-warning"></i>
                                </span>
                                <span class="rating-text">(3.5)</span>
                            </div>
                            <a href="" class="menu-item-link">Order Now</a>
                            <button class="btn add-to-cart-icon">
                                <i class="fas fa-shopping-bag custom_icon"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center align-items-end mb-3">
                <a href="/"> <button class="back-button btn btn-primary">Back</button></a>
            </div>
        </div>
    </div>
</body>
</html>