<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <script src="https://kit.fontawesome.com/1e8988dde9.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/Experiment.css">
    <script src="/static/Experiment.js"></script>
</head>
<body>
    <div id="sectionIceCream">
        <div class="IceCream-Container">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="shadow menu-item-card p-3 mb-3">
                            <img src="/static/images/menu/desserts and icream/Iceream/dryfruit-icecream.jpg" class="menu-item-image w-100" alt="Dryfruit Ice Cream" />
                            <h1 class="menu-card-title">Dryfruit Ice Cream</h1>
                            <p class="Dish-Price">Rs.90 </p>
                            <div class="rating">
                                <span class="stars">
                                    <i class="fas fa-star text-warning"></i>
                                    <i class="fas fa-star text-warning"></i>
                                    <i class="fas fa-star text-warning"></i>
                                    <i class="fas fa-star-half-alt text-warning"></i>
                                    <i class="far fa-star text-warning"></i>
                                </span>
                                <span class="rating-text">(3.5)</span>
                            </div>
                            <a href="" class="menu-item-link">Order Now</a>
                            <button class="btn add-to-cart-icon">
                                <i class="fas fa-shopping-bag custom_icon"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="shadow menu-item-card p-3 mb-3">
                            <img src="/static/images/menu/desserts and icream/Iceream/custard-icecream.jpg" class="menu-item-image w-100" alt="Custard Ice Cream" />
                            <h1 class="menu-card-title">Custard Ice Cream</h1>
                            <p class="Dish-Price">Rs.80 </p>
                            <div class="rating">
                                <span class="stars">
                                    <i class="fas fa-star text-warning"></i>
                                    <i class="fas fa-star text-warning"></i>
                                    <i class="fas fa-star text-warning"></i>
                                    <i class="far fa-star text-warning"></i>
                                    <i class="far fa-star text-warning"></i>
                                </span>
                                <span class="rating-text">(3.0)</span>
                            </div>
                            <a href="" class="menu-item-link">Order Now</a>
                            <button class="btn add-to-cart-icon">
                                <i class="fas fa-shopping-bag custom_icon"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="shadow menu-item-card p-3 mb-3">
                            <img src="/static/images/menu/desserts and icream/Iceream/vanilla-ice-cream.png" class="menu-item-image w-100" alt="Vanilla Ice Cream" />
                            <h1 class="menu-card-title">Vanilla Ice Cream</h1>
                            <p class="Dish-Price">Rs.70 </p>
                            <div class="rating">
                                <span class="stars">
                                    <i class="fas fa-star text-warning"></i>
                                    <i class="fas fa-star text-warning"></i>
                                    <i class="fas fa-star text-warning"></i>
                                    <i class="fas fa-star text-warning"></i>
                                    <i class="far fa-star text-warning"></i>
                                </span>
                                <span class="rating-text">(4.0)</span>
                            </div>
                            <a href="" class="menu-item-link">Order Now</a>
                            <button class="btn add-to-cart-icon">
                                <i class="fas fa-shopping-bag custom_icon"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="shadow menu-item-card p-3 mb-3">
                            <img src="/static/images/menu/desserts and icream/Iceream/mango-icecream.jpg" class="menu-item-image w-100" alt="Mango Ice Cream" />
                            <h1 class="menu-card-title">Mango Ice Cream</h1>
                            <p class="Dish-Price">Rs.100 </p>
                            <div class="rating">
                                <span class="stars">
                                    <i class="fas fa-star text-warning"></i>
                                    <i class="fas fa-star text-warning"></i>
                                    <i class="fas fa-star text-warning"></i>
                                    <i class="fas fa-star-half-alt text-warning"></i>
                                    <i class="far fa-star text-warning"></i>
                                </span>
                                <span class="rating-text">(3.5)</span>
                            </div>
                            <a href="" class="menu-item-link">Order Now</a>
                            <button class="btn add-to-cart-icon">
                                <i class="fas fa-shopping-bag custom_icon"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center align-items-end mb-3">
                <a href="/"> <button class="back-button btn btn-primary">Back</button></a>
            </div>
        </div>
    </div>
</body>
</html>